* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

@font-face {
    font-family: 'Poppins-Light';
    src: url(Poppins/Poppins-Light.ttf)
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 14px;
    font-family: 'Poppins-Light';
    src: url(Poppins/Poppins-Light.ttf)
 
}

@media (max-width: 480px) {
    .content {
     padding: 15px;
    }
}

.background {
    background: rgb(0,0,0);
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    padding: 27px 147px;
    max-width: 1440px;
    max-height: 90px;
    background: rgb(18,18, 18);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_nav {
    float: right;
    min-width: 700px;
}


.navig_bar ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    min-width: 700px;
}

.navig_bar a {
    color: #fff;
    font-weight: 400;
    font-size: 15px;
    font-family: "poppins", sans-serif;
}

.navig_bar li.template_btn a{
    border-radius: 14px;
    font-size: 16px;
    color: #000;
    background-color: #FFF;
    padding: 11px 20px;
    
} 

.studio1 {
    min-height: 700px; 
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(img/first_block_img/IMAGE\ \(6\).svg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.studio_info {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
}

.studio_info h2 {
    margin-top: 20px;
    font-weight: 400;
    line-height: 20px;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #c0c0c0;
}

.studio_info h1 {
    margin-top: 1px;
    font-weight: 400;
    font-size: 54px;
    line-height: 59.4px;
}

.studio_info p {
    margin-top: 18px;
    font-weight: 400;
    line-height: 20px;
    color: #c0c0c0;
}

.studio_bar {
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
    padding-bottom: 3%;
}

.studio_bar img {
    margin-left: 15px;
    margin-right: 6px;
}

.studio2 {
    padding-top: 120px;
    padding-bottom: 80px;
    max-width: 1168px;
    margin: 0 auto;
}

.studio2_head {
    text-align: center;
    max-width: 600px;
    margin: 0 auto 120px;
}

.studio2_head h1 {
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
}

.studio2_head p {
    font-size: 23px;
    font-weight: 400;
    padding-top: 15px;
    color: #c0c0c0;
    line-height: 30px;
    
}

.part1, .part2 {
    margin-bottom: 16px;
    max-width: 1168px; 
    display: flex;
    min-height: 600px;
    justify-content: space-between;
    width: 100%;
    
}

.part1_1, .part1_2, .part2_1, .part2_2 {
    background-position: center; 
    min-width: 576px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.part1_1 {
    background-image: url(img/second_block_img/IMAGE.svg);
}

.part1_2 {
    background-image: url(img/second_block_img/IMAGE\ \(1\).svg);
}

.part2_1 {
    background-image: url(img/second_block_img/IMAGE\ \(2\).svg);
}

.part2_2 {
    background-image: url(img/second_block_img/IMAGE\ \(3\).svg);
}

.part1_1_text, .part1_2_text, .part2_1_text, .part2_2_text {
    max-width: 513px;
    margin: 0 auto 20px;
}

.part1 h2, .part2 h2 {
    text-transform: uppercase;
    line-height: 20px;
    font-size: 14px;
    margin-bottom: 4px;
    letter-spacing: 2px;
    font-weight: 400;
}

.part1 h1, .part2 h1 {
    line-height: 20px;
    max-width: 513px;
    font-size: 14px;
    font-weight: 400;
    color: #c0c0c0;
    margin-bottom: 10px;
}


.Btn img {
    height: 32px;
    position: relative;
    top: 3px;
    left: -7px;
    width: 32px;
}

.Btn { 
    letter-spacing: 0.4px;
    gap: 8px;
    padding: 8px 20px;
    background-color: #FFFFFF;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 20px;
    font-size: 15px;
    text-decoration: none;
    border-radius: 18px; 
    display: inline-flex;
    align-items: center;
    
}
  

.studio3 { 
    min-height: 600px; 
    margin: auto;
    background-size: cover;
    background-image: url(img/third_block_img/IMAGE.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
}

.part3_txt {
    max-width: 298px;
    position: relative;
    top: 80%;
    left: 75%;
}

.part3_txt h1 {
    font: "poppins";
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.part3_txt p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #c0c0c0;
}

.part3_stat {
    font-size: 12px;
    padding-right: 5%;
    padding-bottom: 3%;
    justify-content: flex-end;
    display: flex;
    place-self: end;
}

.part3_stat img {
    padding-left: 15px;
    left: 3px;
    padding-right: 5px;
    position: relative;
    
}


.block4 {
    margin: auto;
  display: flex;
  background-color: #000;
  color: #fff;
  padding: 0 40px;
  align-items: center;
  max-width: 1440px; 
 max-height: 540px;
}


.block4_text {
  flex: 1;
  padding-right: 40px;
  padding-left: 8%;
  position: relative;
  margin: auto;
}

.block4_text h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ccc;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 8px;
  
}

.block4_text h2 {
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  margin-bottom: 20px;
}

.block4_text p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #ddd;
  padding-right: 150px;
  margin-bottom: 30px;
}

.block4_text a {
    color: #000;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.4px;

    background-color: #FFF;
    padding: 11px 20px;
    border-radius: 14px;

    margin-bottom: 20px;
}

.block4_text a img {
    position: relative;
    top: 10px;
    left: -7px;
}

.gear-image {
  flex: 1;
  width: 720px;
  height: 540px;
  position: relative;
  margin: auto;
}

.block4_stat {
    place-self: end;
      position: relative;
    font-size: 12px;
    display: flex;
    justify-content: right;
    padding-right: 5%;
    padding-bottom: 4%;
    margin-top: -70px;
}
.block4_stat img {
    padding-left: 15px;
    padding-right: 5px;
    position: relative;
    left: 3px;
}

.block5{  
    min-height: 600px; 

    margin: auto;
    background-image: url(img/fifth_block_img/IMAGEfey.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
}

.block6{
    max-width: 1440px; 
    min-height: 500px; 
    margin: auto;
   
    background-repeat: no-repeat;
    background-position: center; 

    display: flex;
    flex-direction: column; /* Для вертикального выравнивания */
    justify-content: flex-end;
    
}

.logos{
    place-self: end;
    max-width: 1168px;
    max-height: 158px;
    align-items: center;
    font-size: 12px;
    display: flex;
    justify-content: right;
    padding-right: 10%;
    padding-bottom: 3%;
}
    


.block6_header{         
     text-align: center; 
    margin-bottom: 270px;      
    }

    .block6_header h1 {
            font-size: 40px;
            font-weight: 400;
            line-height: 42px;
            margin-bottom: 15px;
            letter-spacing: 0%;
            font-family: 'Poppins-Light';
            src: url(Poppins/Poppins-Light.ttf);
            text-align: center;
        }

  .block6_header p {
             font-family: 'Poppins-Light';
            src: url(Poppins/Poppins-Light.ttf);
            color: #c0c0c0;
            margin-bottom: 30px;
            font-weight: 400;
            font-size: 24px;
            line-height: 30px;
            letter-spacing: 0%;
            text-align: center;
        }
        
.client-logo {
           
             height: auto; /* hauteur proportionnelle */
             object-fit: contain; /* garde le ratio sans couper */
             justify-content: center; /* centre horizontalement */
             align-items: center; 
             margin: 0 auto;
            width:120px;
             margin: 0 50px;
  }
        

        .logos{
            position: absolute;
           margin-bottom: 80px;
            display: flex;
             width: 100%;
            justify-content: center;
            display: flex;
            gap: 10px;
            align-items: center; /* centre verticalement */
           height: 100px; /* hauteur fixe du conteneur */
        }


.block7{
    min-height: 600px; 

    margin: auto;
    background-image: url(img/seventh_block_img/IMAGEimaj\ nej.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
}
.block8{
    margin: auto;
   max-width: 1440px;  
    min-height: 414px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    font-family: 'Poppins-Light';
    src: url(Poppins/Poppins-Light.ttf);

}
.block8 h2{
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 15px;
  margin-top: 80px;
  line-height: 42px;
  letter-spacing: 0%;
}

.block8 p{
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  line-height: 30px;
  letter-spacing: 0%;
  color: #ccc;
  margin-bottom: 24px;
}


.block8 a{
    color: #000;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.4px;

    background-color: #FFF;
    padding: 11px 20px;
    border-radius: 14px;

    margin-bottom: 20px;
}

.block8 a img{
    position: relative;
    top: 10px;
    left: -7px;
}


.footer{
    max-width: 1168px;  
    min-height: 452px;

    margin: auto;
  background-color: black;
  color: #ccc;
  font-family: 'Poppins-Light';
  src: url(Poppins/Poppins-Light.ttf);
  padding: 0 20px;
}

.jay{
    max-width: 1440px;  
    min-height: 500px;
    padding-top: 10%; 
}

.footer-top {
  display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
}

.footer-logo{
  /*max-width: 300px;*/
  max-width: 457.59px;
  max-height: 200px;
}

.footer-logo p{
    color: #c0c0c0;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
}

.footer-logo .logo-img {
  height: 40px;
  margin-bottom: 10px;
}

.footer-links {
  display: flex;
  gap: 80px;
  padding-right: 8%;
}

.footer-section h4 {
  letter-spacing: 2px;
  color: #c0c0c0;
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section li {
  margin-bottom: 8px;
  color: #ffff;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0%;
  line-height: 20px;
}

.footer-separator {
  border: none;
  height: 2px;
  background: white;
  margin: 30px 0;
}

.footer-newsletter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newsletter-text h4 {
  color: white;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 8px;
  text-transform: uppercase;
  line-height: 20px;
}

.newsletter-text p {
  font-size: 13px;
  color: #c0c0c0;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  font-style: normal;
}

.newsletter-button {
  background-color: white;
  border: none;
  border-radius: 15px;
  height: 60px;
  width: 400px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
  cursor: pointer;
}

.arrow-icon {
  height: 50px;
  width: 70px;
  cursor: pointer;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  font-size: 14px;
  color: #aaa;
}

.social-icons img {
  height: 24px;
  width: 24px;
  margin-left: 20px;
  cursor: pointer;
}